#canvas {
    width: 65em;
    height: 37em;
    margin: auto;
    background-color: blue;
    margin: auto;
    padding-top: 10%;
}
#paintbox {
    width: 50em;
    height: 27em; 
    margin: auto;
}
#paintcolors {
  width: 50em;
  height: 17em;
  margin: auto
}
.pixels {
    width: 1em;
    height: 1em;
    background-color: white;
    border: 1px solid gray;
    float: left;
}
.colorPalette {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  float: left
}

.thisColor {
  width: 50em;
  height: 4em;
  float: left;
}